.section-one {
	padding: 60px 0 0 60px;
}

.section-two {
	padding: 120px 0 0 60px;
}

.section-three {
	padding: 120px 0 0 60px;
}

.section-four {
	padding: 120px 0 0 60px;
}

.section-one--img {
	height: 400px;
	width: 400px;
	border-radius: 750px;
	margin-top: 10%;
	margin-left: 30px;
}

h1 {
	/* padding-right: 57px; */
	color:#481E1E;

}

.section-one--para {
	/* margin-right: 20px;
	text-align: justify; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-one--content_right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left-fixed-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.left-fixed-icons .fa {
	padding: 0 10px;
	cursor: pointer;
}

h1 {
	text-align: center;
}


.section-one .card {
	height: 400px;
	margin-bottom: 30px;
	margin-right: 30px;
}


/* 
.section-two .card {
	text-align: center;
	border: none;
	height: 200px;
	margin-bottom: 30px;
	margin-right: 30px;
	width: 350px;
} */




.split {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.left {
	width: 35%;
	left: 0;
	background-color: hsl(0, 42%, 20%);
	overflow-y: hidden;
}

.left h3 {
	padding-top: 10px;
}

.right {
	width: 65%;
	right: 0;
	background-color: white;
}


.item {
	width: 200px;
	height: 200px;
	margin: 50px auto;
	padding-top: 75px;
	background: rgba(255, 85, 0, .7);
	text-align: center;
	color: #4E4C48;
	font-size: 1.5em;
}

.card-list {
    display: flex;
    padding: 3rem;
    /* overflow-x: scroll; */
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card {
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}


.card-header {
	margin-bottom: auto;
	height:120px;
	color:#481E1E
	
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}






@media only screen and (max-width: 1360px) {
	.section-one--img {
		align: center;
		height: 350px;
		width: 350px;
		border-radius: 750px;
		margin: 5% auto;

	}

}

@media (max-width: 767px) {
	.section-one--img {


		height: 150px;
		width: 150px;
		border-radius: 750px;
		/* margin: 5% auto; */

	}

	.header-container{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.header-container h3{
		/* height:50%; */
		margin: 0;
	}

	.header-container p{
		/* height: 50%; */
		margin: 0;
	}

	.text-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 16px;
	}

	.left {
		position: absolute;
		width: 100%;
		background-color: hsl(0, 42%, 20%);
		height: 50%;


	}

	.right {
		float: none;
		margin-top: 70%;
		width: 100%;
		right: 0;
		background-color: white;
	}

	.right .section-one {

		margin-top: -50px;
		padding-left: 15px;
		padding-right: 15px;

	}

	.section-one .card {
		min-height: 327px;
		margin: 0 0 30px 0 !important;
	}

	.section-one--para {
		padding: 0 0 10px 10px;
		/* margin-right: 60px; */
		text-align: justify;
	}

	h1 {
		/* padding-right: 57px; */
		color:#481E1E;

	}


	.section-two {
		padding-left: 10px
	}

	.section-two .card{
		width:100%;
		
	}
	.section-two .card h3{
		font-size:20px;
		
	}
	.section-two .card .card-body h5{
		font-size:17px;

		
	}


	.section-two h1 {
		padding: 0px
	}

	.section-three {
		padding-left: 0px;
		text-align: center;
	}

	.section-three h1 {
		padding: 0px
	}

	.section-four {
		padding-left: 0px;
		text-align: center;
	}

	

}